doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    include /__partials/mixin/helper
    include /__partials/meta
    include /__partials/stylesheet
  body
    include /__partials/shared/header

    block content

    include /__partials/shared/footer

    include /__partials/javascript
