extend /__partials/layout/default

block meta
  - var meta = {title: 'local title text'}
  
block stylesheet
  link(href="css/local.css" rel="stylesheet")

block javascript
  script(src="js/local.js")

block content
  p hello
  p hello
